*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{

min-height:100vh;

display:flex;
justify-content:center;
align-items:center;

padding:30px;

background:linear-gradient(
-45deg,
#020617,
#0f172a,
#1e293b,
#020617
);

background-size:400% 400%;

animation:bgMove 12s ease infinite;

color:white;
}

@keyframes bgMove{

0%{
background-position:0% 50%;
}

50%{
background-position:100% 50%;
}

100%{
background-position:0% 50%;
}

}

.container{
width:100%;
max-width:850px;
}

header{
text-align:center;
margin-bottom:30px;
}

header h1{

font-size:3rem;
color:cyan;

animation:
glow 2s infinite alternate;
}

@keyframes glow{

from{
text-shadow:
0 0 10px cyan;
}

to{
text-shadow:
0 0 25px cyan;
}

}

header p{
margin-top:10px;
color:#cbd5e1;
}

.converter-box,
.history-box{

background:
rgba(255,255,255,0.05);

backdrop-filter:
blur(15px);

border:
1px solid rgba(
255,255,255,0.1);

box-shadow:
0 8px 30px rgba(
0,0,0,0.3);

padding:30px;

border-radius:20px;

margin-bottom:25px;

transition:0.3s;
}

.converter-box:hover{

transform:
translateY(-5px);

}

select,
input{

width:100%;

padding:15px;

margin:12px 0;

border:none;

border-radius:12px;

background:#334155;

color:white;

font-size:16px;
}

select:focus,
input:focus{

outline:none;

box-shadow:
0 0 10px cyan;
}

.result-box{

margin-top:30px;

background:#0f172a;

padding:25px;

border-radius:15px;

text-align:center;

box-shadow:
0 0 20px rgba(
0,255,255,0.3);
}

.result-box span{
color:#94a3b8;
}

.result-box h2{

color:cyan;

margin-top:10px;

font-size:36px;
}

.history-box h2{
color:cyan;
margin-bottom:15px;
}

#historyList{

list-style:none;

max-height:250px;

overflow-y:auto;
}

#historyList li{

background:#1e293b;

padding:12px;

margin-bottom:10px;

border-radius:10px;
}

#clearHistory{

margin-top:15px;

padding:10px 20px;

border:none;

border-radius:10px;

background:cyan;

color:black;

font-weight:bold;

cursor:pointer;
}

#clearHistory:hover{
background:white;
}

footer{

text-align:center;

margin-top:40px;

color:#94a3b8;
}

@media(max-width:768px){

header h1{
font-size:2rem;
}

.converter-box,
.history-box{
padding:20px;
}

.result-box h2{
font-size:28px;
}

}

#swapBtn{
width:100%;
padding:12px;
margin:10px 0;
border:none;
border-radius:10px;
background:cyan;
font-weight:bold;
cursor:pointer;
}

#swapBtn{

width:100%;

padding:12px;

margin:10px 0;

border:none;

border-radius:12px;

background:cyan;

color:black;

font-weight:bold;

cursor:pointer;

transition:0.3s;
}

#swapBtn:hover{

background:white;

transform:scale(1.02);
}

.conversion-type{
margin-bottom:10px;
color:#94a3b8;
font-size:14px;
}


.container{
animation:fadeIn 1s ease;
}

@keyframes fadeIn{

from{
opacity:0;
transform:translateY(30px);
}

to{
opacity:1;
transform:translateY(0);
}
}

.stats{
display:flex;
justify-content:space-between;
gap:20px;
margin-bottom:25px;
}

.stats div{
flex:1;
text-align:center;

background:
rgba(255,255,255,0.05);

backdrop-filter:
blur(15px);

border:
1px solid rgba(255,255,255,0.1);

padding:20px;

border-radius:15px;

box-shadow:
0 5px 15px rgba(0,0,0,0.2);
}

.stats h3{
color:cyan;
font-size:28px;
margin-bottom:5px;
}

.stats p{
color:#cbd5e1;
font-size:14px;
}

@media(max-width:768px){

.stats{
flex-direction:column;
}

}

.bg-icons{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
pointer-events:none;
z-index:-1;
overflow:hidden;
}

.icon{
position:absolute;
color:cyan;
opacity:0.08;
filter:blur(2px);
}

.i1{
font-size:120px;
top:10%;
left:8%;
}

.i2{
font-size:140px;
top:20%;
right:10%;
}

.i3{
font-size:130px;
bottom:20%;
left:10%;
}

.i4{
font-size:100px;
bottom:15%;
right:15%;
}

.i5{
font-size:150px;
top:55%;
left:45%;
}

.i6{
font-size:130px;
top:70%;
right:30%;
}

.icon{
animation:float 8s ease-in-out infinite;
}

@keyframes float{

0%{
transform:translateY(0px);
}

50%{
transform:translateY(-20px);
}

100%{
transform:translateY(0px);
}

}

.orb{
position:fixed;
border-radius:50%;
background:cyan;
filter:blur(120px);
opacity:0.08;
z-index:-1;
}

.orb1{
width:250px;
height:250px;
top:10%;
left:5%;
}

.orb2{
width:300px;
height:300px;
bottom:10%;
right:5%;
}

.orb3{
width:200px;
height:200px;
top:50%;
left:50%;
}